<ion-header>
  <ion-toolbar>
    <ion-title>
      Observer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="abs-center">{{ connected ? 'connected' : 'not connected' }}</h3>

  <div class="ion-padding abs-center" *ngIf="!connected">
    <ion-input placeholder="Address..."></ion-input>
    <ion-button (click)="connect()">Connect</ion-button>
  </div>

  <div class="ion-padding abs-center" *ngIf="connected">
    <ion-button (click)="requestImage();">Take screenshot</ion-button>
    <ion-button (click)="requestBattery();" color="secondary">Check battery</ion-button>
    <ion-button (click)="requestPcStats();" color="tertiary">View PC stats</ion-button>

    <br>  
    <img [src]="converted_image"/>
  </div>
</ion-content>
